.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vidcard {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    width: 60%;
    text-align: center;
    min-height: fit-content;
}

.vidcard:hover {
    background-color: grey;
    color: white;
}


.tag {
    font-style: italic;
    margin-top: -1rem;
}

.video {
    width: 85%;
}

@media screen and (max-width: 800px) {
    .header {
      display: flex;
      justify-content: center;
      font-size: 2vw;
      margin-left: -4rem;
    }
    .tag {
        margin-top: 0.25rem;
    }
    .title {
        font-size: 2vw;
    }
  }